
.footer {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
  }
  
  .developers {
    display: flex;
    justify-content: space-around;
    max-width: 800px;
    margin: 0 auto;
  }
  
  .developer {
    text-align: center;
  }
  
  .developer img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 10px;
  }
  
  .links {
    margin-top: 10px;
  }
  
  .links a {
    color: white;
    margin-right: 10px;
  }
  